.main{
    background-color: aqua;
    padding: 40px;
    padding-top: 0;
     
}
 .list{
    float: right;
}
li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 50px;
}
.one{
    float: left;
    margin-left: 20px;
}
ul li a{
    text-decoration: none;
}
li a:hover{
    background-color: black;
    color: white;
}