table,th,td{
    border: 2px solid black;
    border-collapse:collapse;
   
}
#of{
    background-color: red;
}
table{
    width: 100%;
    height: 50%;
    background-color: yellow;
    text-align: center;
    border-spacing: 6px;
    padding: 5px;
}
caption{
    caption-side:bottom;
}